body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

.hero-section {
  background-image: url(/images/background-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 59px 0px 0px 0px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Laila";
  font-weight: 700;
  font-size: 32px;
  line-height: 32.8px;
  color: #ffffff;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 27.24px;
  color: #ffffff;
}

.nav-bar > div {
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 39.05px;
}

.header-icons > img {
  height: 3vw;
  cursor: pointer;
}

/* hero mid section */
.hero-mid-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 0px 100px 0px;
  gap: 30px;
}

.mid-section-description {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 75px;
  line-height: 102.14px;
  text-align: center;
  color: #ffffff;
}

.small-description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  text-align: center;
  color: #ffffff;
}

.hero-mid-section > input {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 32.68px;
  text-align: center;
  color: #ffffff;
  border: none;
  width: 214px;
  height: 60px;
  border-radius: 10px;
  background-color: #00a651;
}
